@import './utils/variables';
@import './base/base';
@import './composants/button';
@import './composants/dropdown';
@import './composants/error-message';
@import './composants/progress-bar';

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  padding-top: 2 * $header-height;
  position: relative;
}

@media screen and (max-width: 700px) {
  .app {
    padding-bottom: $footer-height + 250px;
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding-bottom: $footer-height + 450px;
  }
}
