.main {
  text-align: center;
}

.fInput {
  padding: .5rem;
  color: #01285e;
  display: block;
  width: 100%;
  box-shadow: 0 0 8px hsla(222, 100%, 18%, .7) inset;
  border: none;
  border-radius: 5px;
  background-color: #dff1ff;
}

.fInput::placeholder {
  color: #98c6e9;
}

.error {
  color: #f00;
  padding: .5rem;
  font-style: italic;
}

.empty {
  background-color: rgb(255, 221, 221);
}

.empty::placeholder {
  color: red;
}

.show_password_label {
  display: flex;
}
