@import '../../../styles/utils/variables';

.main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem 0;
  box-shadow: 2px 2px 8px black;

  & li {
    padding: .5rem;

    &:hover {
      background-color: $primary-color--base;
    }
  }

  & a,
  & .logout {
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
    color: $footer-bg-color;
    font-weight: 500;
  }

  & .logout {
    color: red;
    cursor: pointer;
  }

  & .link {
    padding-left: .5rem;
  }
}

@media screen and (max-width: 600px) {
  .main {
    display: block;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    padding: .5rem;

    li {
      display: block;
      text-align: center;
      margin: 0;
      padding: 0;
      width: 100%;

      a {
        padding: 10px;
      }

      .link {
        display: none;
      }
    }
  }
}
