* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  background: $page-bg-color;
  height: 100%;
  margin: 0;
  position: relative;
}

h1,
h2 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
