@import '../../../styles/utils/variables';

.footer {
  background-color: $footer-bg-color;
  bottom: 0;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;

  & a:hover {
    text-decoration: underline;
  }
}

.links {
  display: flex;
  justify-content: space-evenly;

  & li {
    padding: 5px;
  }
}

.btn {
  padding: .5rem;
}

.logo {
  height: 3rem;
}

//@media screen and (max-width: 700px) {}

@media screen and (max-width: 400px) {
  .links {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
  }
}
