@import '../../styles/utils/variables';

.main {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: darken($page-bg-color, 10);
  box-shadow: 2px 2px 6px black;
}

.title {
  color: $footer-bg-color;
  font-size: 2rem;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: minmax(10rem, 15rem) 20rem;
  padding: 1.3rem;
  gap: 1rem;
  align-items: center;
}

.label {
  color: #0d1831;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.navigation {
  grid-area: -3/1/-2/3;
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: #0d1831;
  color: white;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  color: #0d1831;
  background-color: #98c5e9;
  border: 1px solid #0d1831;
}

.btnSwitch {
  align-self: end;
  background-color: #194111;
}

.btnSwitch:hover {
  color: #194111;
  background-color: #6f9268;
}

.btnSubmit {
  background-color: $secondary-color--base;
}

.errorMessage {
  grid-area: -4/1/-3/3;
  text-align: center;
  color: red;
}

.error {
  color: red;
  font-weight: bold;
}

.tab {
  background-color: darken($page-bg-color, 10);
  border-radius: $border-radius;

  &__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__content {
    display: none;
    padding: .5rem .9rem;
  }
}

.btn__tab {
  background-color: darken($page-bg-color, 10);
  border: 0;
  border-radius: $border-radius $border-radius 0 0;
  color: $footer-bg-color;
  cursor: pointer;
  display: block;
  outline: none;
  padding: .8rem 1rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 100%;

  &:hover {
    background-color: darken($page-bg-color, 10);
    border: none;
  }

  &__inactive {
    background-color: darken($page-bg-color, 30);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25) inset;
    color: darken($page-bg-color, 50);
    border-radius: 0;

    &:hover {
      background-color: $page-bg-color;
      border: none;
    }
  }
}

//@media screen and (max-width: 700px) {}

@media screen and (max-width: 400px) {
  .main {
    padding: .5rem;
  }

  .tab {
    &__header {
      flex-direction: column;
    }

    &__content {
      display: none;
      padding: .5rem .9rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .btnSwitch {
    align-self: center;
  }
}
