@import '../../../styles/utils/variables';

.main {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
  color: $primary-color--base;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .main {
    font-size: 1.4rem;
  }
}
