@import '../../../styles/utils/variables';
@import '../../../styles/composants/button';
@import '../../../styles/composants/dropdown';

.main {
  background-color: #fff;
  -webkit-box-shadow: 0 5px 5px rgb(128, 128, 128);
  box-shadow: 0 5px 5px rgb(128, 128, 128);
  text-align: center;
  color: $footer-bg-color;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.mylink {
  color: $footer-bg-color;
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.register {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    padding: .5rem;
  }
}

.menu {
  display: none;
  cursor: pointer;
}

.logo {
  height: 3rem;
}

.languages {
  width: 4rem;
}

.nav {
  float: right;
  padding: 5px;
  color: $footer-bg-color;

  &__link {
    border-radius: $border-radius;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $secondary-color--base;
    }

    &--active {
      background-color: $tertiary-color--base;
      color: #fff;
    }
  }
}

@media screen and (max-width: 800px) {
  .menu {
    display: flex;
    padding: .5rem;

    & .myLink {
      display: block;
      width: 100%;
    }
  }

  .wrapper {
    display: block;
  }

  .links,
  .register {
    display: none;
    text-align: initial;

    > a {
      padding: 1rem;
      display: block;
      text-align: initial;
    }

    & > div,
    .myLink {
      display: block;
      text-align: initial;
    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
  }
}
