@import '../../styles/utils/variables';

.main {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  display: flex;
  flex-grow: 1;
  padding-top: $header-height - 10px;
  min-height: 80vh;
}

@media screen and (max-width: 700px) {
  .main {
  }
}