$page-bg-color: #eee;
$footer-bg-color: #272e71;
$white: #fff;
$black: #000;
$primary-color--base: #e4b302;
$primary-color--ligth: #fdcc1c;
$primary-color--dark: hsl(47, 100%, 30%);
$primary-color--darker: hsla(47, 50%, 20%, 1);
$primary-color--pastel: hsla(47, 20%, 50%, 1);
$secondary-color--base:  hsla(122, 50%, 49%, .8);
$secondary-color--ligth: hsl(122, 60%, 49);
$secondary-color--dark: hsl(122, 90%, 30);
$tertiary-color--base: hsla(195, 100%, 50%, .8);
$tertiary-color--ligth: hsl(195, 100%, 70%);
$tertiary-color--dark: hsl(195.06, 100%, 30%);
$redscale-color--base: hsla(0, 100%, 50%, .8);
$redscale-color--ligth: hsl(0, 100%, 70%);
$redscale-color--dark: hsl(0, 100%, 30%);

$header-height: 60px;
$footer-height: 350px;

$border-radius: 4px;
