.btn {
  border: 1px solid $page-bg-color;
  border-radius: $border-radius;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $white;
  padding: 12px 0;
  text-align: center;
  width: 100%;

  &--form {
    margin: 5px;

    &--update {
      background-color: $tertiary-color--base;

      &:hover {
        background-color: $tertiary-color--ligth;
      }
    }

    &--cancel {
      background-color: $redscale-color--base;

      &:hover {
        background-color: $redscale-color--ligth;
      }
    }

    &--submit {
      background-color: $secondary-color--base;

      &:hover {
        background-color: $secondary-color--ligth;
      }
    }
  }

  &--register {
    background-color: $primary-color--base;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;

    &:hover {
      background-color: $primary-color--ligth;
    }
  }
}
