.dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &__btn {
    background-color: transparent;
    border: 0;
    color: $footer-bg-color;
    font-size: .9rem;
    padding: 1rem;

    &:hover {
      display: block;
    }
  }

  &__content {
    background-color: $white;
    border-radius: $border-radius;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    font-size: .7rem;
    display: none;
    position: absolute;
    z-index: 1;

    a {
      color: $footer-bg-color;
      display: block;
      padding: 12px 16px;
      text-decoration: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &:hover &__content {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .dropdown {
    display: block;

    &__btn {
      margin: 0;
    }

    &:hover {
      text-align: center;
    }

    &__content {
      padding: 0;
      position: relative;
    }
  }
}
