.message {
  background: rgb(241, 241, 241);
  border-radius: 4px;
  color: $black;
  display: none;
  margin: .8rem;
  padding: 1.2rem;
  position: relative;

  & p {
    padding: 0 2.2rem;
  }
}

.valid {
  color: $secondary-color--dark;
}

.invalid {
  color: $redscale-color--base;
}
