.form {
  width: 100%;

  & label {
    display: inline-block;
    margin: 16px;
  }

  .showpw {
    padding: 0;
    width: 10%;
  }

  & select {
    border: 1px solid #ccc;
    border-radius: $border-radius;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: .9rem;
    margin: 6px 0 16px 0;
    padding: 12px;
    width: 100%;
  }

  & input {
    border: 1px solid rgb(204, 204, 204);
    border-radius: $border-radius;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table-cell;
    margin: 6px 0 16px 0;
    padding: 12px;
    width: 100%;
  }

  .empty {
    background-color: rgb(255, 221, 221);
  }
}

.checklabel {
  cursor: pointer;
  display: block;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;

  & input {
    width: 0;
    height: 0;
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  & .checkmark {
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: $border-radius;
    left: 0;
    position: absolute;
    top: 0;

    &::after {
      width: 5px;
      height: 10px;
      border: solid #fff;
      border-width: 0 3px 3px 0;
      content: '';
      display: none;
      left: 9px;
      position: absolute;
      top: 5px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    background-color: rgb(204, 204, 204);
  }

  & input:checked ~ .checkmark {
    background-color: $tertiary-color--ligth;

    &::after {
      display: block;
    }
  }
}

.col {
  float: left;
  margin-top: 6px;
}

.col-25 {
  width: 25%;
}

.col-50 {
  width: 50%;
}

.col-75 {
  width: 75%;
}

.row::after {
  clear: both;
  content: '';
  display: table;
}

@media screen and (max-width: 800px) {
  .col-25,
  .col-75 {
    margin-top: 0;
    width: 100%;
  }
}
