.progress {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .25) inset;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .25) inset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 6px 0 16px 0;
  width: 90%;

  &__bar {
    width: 1%;
    height: 20px;
    background-image: -o-linear-gradient(left, $redscale-color--base, rgb(255, 255, 0), $secondary-color--ligth);
    background-image: -webkit-gradient(linear, left top, right top, from($redscale-color--base), color-stop(rgb(255, 255, 0)), to($secondary-color--ligth));
    background-image: linear-gradient(to right, $redscale-color--base, rgb(255, 255, 0), $secondary-color--ligth);
    border-radius: 4px;
  }
}
